*{
    background-color: rgb(19, 18, 20);

}



header{

    height: 5rem;
    background-color:rgb(158, 0, 0);
    text-align: left;


}

.Logo{
    height: 100%;
}

.Logo2{
    height: 100%;
    background-color: rgb(158, 0, 0);

}



.container{
    border: 1%;
    width: 100%;
    height: 30%;
    display: flex;

    

}



.Info{
    
    color: rgb(104, 107, 110);
    padding-left: 12%;
    padding-top: 8%;
    font-size: 2rem;
    font-style:initial;



}
.imagemTopo{

    padding-left: 19%;
    padding-top: 6%;
    width: auto; 
   
    
    
}
.NomeEmKanji{
    color: rgb(158, 0, 0);
    padding-left: 2%;
    padding-right: 20%;
    padding-top: 0%;
    font-size: 4rem;
    
    
    
  
}

.geral{

    border: 1% solid red;
    width: 100%;
    height: 100%;
    display:grid;
}

.cabecalhoHistoria{

    padding-top: 0.7%;
    padding-left: 0%;
    padding-right: 0%;
    height: 20%;
    text-align : center;
    color: rgb(125, 129, 133);
    font-size: 3rem;
    
}   

.historia{

    color: rgb(125, 129, 133);
    font-size: 0.7rem;
    text-align: left;
    padding-left: 1%;
    padding-right: 10%;
    padding-top: 0%;
    display: flex;
}

.imagemhistoria{

    padding-top: 2%;
    padding-left: 10%;
    padding border-bottom: 700%;
    width: 20%;
       
}

.txtHistoria{

    padding-top: 4%;
    padding-left: 5%

}

.SobrePersonagem{
    display: flex;
    border: 1%;
    width: 100%;
    height: 30%;
}
.personagemCabeçalho{
    color: rgb(104, 107, 110);
    padding-left: 17%;
    padding-top: 8%;
    font-size: 3rem;
   
}
  .PersonagemIamgem{

    padding-left: 0%;
    padding-right: 6%;
    
  }
.personagemtxt{

    color: rgb(104, 107, 110);
    padding-left: 10%;
    padding-right: 4%;
    padding-top: 3%;
    font-size: 1.5rem;
    font-style:initial;

}

    
    
